body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49805E;
    font-family: "Montserrat", serif;
    margin: 0;
    height: 100vh;
}

/* gradient background */
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(270deg, #5CA174, #49805E, #44614D);
    background-size: 300% 300%;
    animation: gradientMove 8s infinite alternate ease-in-out;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* font styling */
h1{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
h2{
    font-weight: 600;
    font-size: 25px;
    color: white;
}

/* card styling */
.card{
    /* what centers the image */
    background-image: url("images/card-background.svg"); 
    background-size: 120%;
    background-position: -375px;
    background-repeat: no-repeat;
      margin: auto;
      position: relative;
      width: 500px;
      height: 300px;
      background-color: black;
      position: relative;
      /* top: 50%; */
      /* transform: translateY(50%); */
      border-radius: 5px;
  }

/* h1 and h2 positioning */
.card h1 {
    position: absolute;
    top: -15px;
    right: 20px;
}
.card h2 {
    position: absolute;
    top: 45px;
    right: 20px;
}

/* icon styling */
.parent-container {
    position: relative; /* Ensure the parent container has relative positioning */
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    position: absolute; /* Keep absolute positioning */
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 15px;
}

/* icon sizing */
.icon-container svg {
    width: 55px; /* Set a consistent width */
    height: 55px; /* Set a consistent height */
    display: block;
    margin: auto; /* Center the SVG within the grid cell */
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* icon animation */
.icon-container svg:hover {
    transform: scale(1.2); 
    /* fill: #1A1A1A; */
    fill: white;
}

/* custom cursor */
html, a {
    cursor: url('images/cursor.png'), auto;	
}

/* Mobile settings */
@media screen and (max-width: 600px) {
    .card {
        width: 80%; 
        height: 30%; 
        padding: 5px; 
    }

    h1 {
        font-size: 35px; 
    }

    h2 {
        font-size: 20px; 
    }

    .icon-container {
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        padding-right: 10px; 
    }

    .icon-container svg {
        width: 55px; 
        height: 55px; 
    }
}